<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Service">
            <directory>./tests/Service</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="KEITARO_API_PATH" value="https://demo-ru.keitaro.io/admin_api/v1"/>
        <env name="KEITARO_API_KEY" value="6f3cf1de28de130c3bd43b56a6bec723"/>
    </php>
</phpunit>
